<style>
  .field-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .error_text {
    color: #F87060;
  }

  input.create-comment-btn  {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: #9eb25d;
    background-color: #eefcce;
  }

  input, textarea {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
  }
</style>
<%= form_with model: [ @task, @comment ] do |f| %>
  <div class="field-container">
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
    <% @comment.errors.full_messages_for(:commenter).each do |message| %>
      <p class="error_text"><%= message %></p>
    <% end %>
  </div>
  <div class="field-container">
    <%= f.text_area :body %>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <p class="error_text"><%= message %></p>
    <% end %>
  </div>
  <%= f.submit class: "create-comment-btn" %>
<% end %>
