<%= stylesheet_link_tag 'comments/form' %>
<%= form_with model: [ @team, @task, @comment ] do |f| %>
  <div class="field-container">
    <%= f.text_area :body %>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <p class="error_text"><%= message %></p>
    <% end %>
  </div>
  <%= f.submit class: "create-comment-btn" %>
<% end %>
