<%= stylesheet_link_tag 'tasks/form' %>
<%= form_with model: task do |f| %>
  <div class="field-container">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% task.errors.full_messages_for(:title).each do |message| %>
      <p class="error_text"><%= message %></p>
    <% end %>
  </div>
  <div class="field-container">
    <%= f.label :body %>
    <%= f.text_area :body %>
    <% task.errors.full_messages_for(:body).each do |message| %>
      <p class="error_text"><%= message %></p>
    <% end %>
  </div>
  <%= f.submit class: "create-task-btn" %>
<% end %>
