<style>
  .task-container {
    position: relative;
    color: white;
    margin: 50px 10%;
  }

  .task-card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .task-card {
    background-color: #9eb25d;
    padding: 30px;
    cursor: pointer;
    line-height: 3rem;
    border-radius: 20px;
  }

  .delete-task-btn {
    width: 2rem;
    border-radius: 100%;
    cursor: pointer;
  }

  .delete-task-btn, .edit-task-btn {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494947;
    background-color: #eefcce;
  }

  .edit-task-btn {
    padding: 0 30px;
    border-radius: 20px;
  }

  .comments-container {
    padding: 30px;
    color: #eefcce;
    background-color: #9eb25d;
  }

  .comments {
    margin-top: 3rem;
  }

  @media (min-width: 1024px) {
    .comments-container {
      margin: 50px 10% 0;
      padding: 50px;
      border-radius: 20px;
    }
  }
</style>
<div class="task-container">
  <div class="task-card">
    <div class="header">
      <%= link_to "Edit", edit_task_path(@task), class: "edit-task-btn" %>
      <%= link_to "X", task_path(@task), method: :delete, class: "delete-task-btn" %>
    </div>
    <h2><%= @task.title %></h2>
    <p><%= @task.body %></p>
  </div>
</div>
<div class="comments-container">
  <%= render "comments/form", comment: @comment %>
  <div class="comments">
    <h2 style="margin-bottom: 20px;">Comments</h2>
    <%= render @task.comments %>
  </div>
</div>
